/* основной цвет заголовков color: #212121;
основной цвет параграфов color: #757575;
цвет заголовка h1 color: белый #FFFFFF;
цвет кнопок синий #2196F3; серый #F5F4FA;
цвет фона футера и цвет главного заголовка color-background: #2F303A
 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15;
}
/* Logo */
.logo {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.color-text {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
}

/* Site nav */

.site-nav-li {
  margin-top: 32px;
  margin-bottom: 0;
}
.site-nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-link.current {
  color: var(--accent-color);
}
/* Contact nav */
.contact-nav-link {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav-link:hover,
.contact-nav-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 32px;
  background-color: var(--title-text-color);
}
.hero-title {
  margin-bottom: 30px;
  margin-top: 0;

  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Button */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Title styling */
.section-title {
  margin-top: 94px;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Skils */
.skills .title {
  margin-top: 94px;
  margin-bottom: 0;

  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.skills-text {
  margin-top: 10px;
  margin-bottom: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Images */
.section-img {
  margin-top: 50px;
  margin-bottom: 0;
}

/* Team */
.section-iteam {
  margin-top: 94px;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.team-item {
  margin-top: 50px;
  margin-bottom: 0px;

  background-color: var(--primary-bg-color);
}
.team .title {
  margin-top: 30px;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */
.adress {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--primary-bg-color);

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.contact-footer-list {
  margin-top: 9px;
  margin-bottom: 0;
  color: var(--contact-footer-color);

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.contact-footer-list:hover,
.contact-footer-list:focus {
  color: var(--accent-color);
}

.section-footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer .colortext {
  color: var(--primary-bg-color);
}

/* Portfolio page */
/* Project-filter */
.buttons-btn {
  margin-top: 132px;
  margin-bottom: 0;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.buttons-btn:hover,
.buttons-btn:focus {
  background-color: var(--accent-color);
  color: white;
}

/* Projects section buttons-list li button */

.projects-section-title {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-section-text {
  margin-top: 4px;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
